//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1998 by Bidus Yura, All Rights Reserved
//----------------------------------------------------------------------------
#ifndef WORKSHOP_INVOKED
#include <windows.h>
#endif

#include <owl/owlapp.rc>
#include <owl/except.rc>
#include <owl/window.rh>
//#include <owl/commctrl.h>

//Should'n be necessary 
#if !defined MONTHCAL_CLASS
#define MONTHCAL_CLASSW          L"SysMonthCal32"
#define MONTHCAL_CLASSA          "SysMonthCal32"

#ifdef UNICODE
#define MONTHCAL_CLASS           MONTHCAL_CLASSW
#else
#define MONTHCAL_CLASS           MONTHCAL_CLASSA
#endif
#endif //MONTHCAL_CLASS

#include "monthcal.rh"

IDD_CLIENTDLG DIALOGEX 6, 15, 164, 148
STYLE DS_SHELLFONT | WS_CHILD
CAPTION "Month Calendar"
FONT 8, "MS Shell Dlg"
{
 CONTROL "Month Calendar", IDC_MONTHCAL, MONTHCAL_CLASS, WS_CHILD |WS_VISIBLE |WS_TABSTOP, 8, 8, 148, 132
}
