#include "App.rh"
#include <owl/winres.rh>
#include <commctrl.rh>

#if !defined(_OWLDLL)
#include <owl/except.rc>
#include <owl/glyphbtn.rc>
#endif

// Application ICON
//
IDI_SDIAPPLICATION ICON "app.ico"

// Client Dialog
//
IDD_CLIENT DIALOGEX 131, 96, 229, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ReplacePlus"
FONT 8, "MS Shell Dlg"
{
 CONTROL "F&older:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 15, 24, 8
 CONTROL "", IDC_FOLDER, "combobox", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 37, 13, 128, 107
 CONTROL "Fi&lter:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 38, 24, 8
 CONTROL "", IDC_FILTER, "combobox", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 37, 36, 128, 84
 CONTROL "&Find:", IDC_ST_FIND, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 62, 20, 8
 CONTROL "", IDC_FIND, "combobox", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 37, 60, 128, 64
 CONTROL "&Replace:", IDC_ST_REPLACE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 85, 28, 8
 CONTROL "", IDC_REPLACE, "combobox", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 37, 83, 128, 41
 CONTROL "File &time:", IDC_ST_TIME, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 62, 32, 8
 CONTROL "", IDC_EDITTIME, "SysDateTimePick32", WS_CHILD | WS_VISIBLE | WS_TABSTOP | DTS_TIMEFORMAT, 37, 60, 47, 13
 CONTROL "", IDC_EDITDATE, "SysDateTimePick32", WS_CHILD | WS_VISIBLE | WS_TABSTOP | DTS_SHORTDATEFORMAT, 88, 60, 77, 13
 CONTROL "Browse...", IDC_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 12, 50, 14
 CONTROL "&Subfolders", IDC_SUBFOLDERS, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 36, 48, 12
 CONTROL "Action", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 172, 53, 52, 44
 CONTROL "Fin&d", IDC_ACTIONFIND, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 65, 32, 12
 CONTROL "Touc&h", IDC_ACTIONTOUCH, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 81, 36, 12
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 0, 106, 229, 1
 CONTROL "Replace", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 118, 50, 14
 CONTROL "Close", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 86, 118, 50, 14
 CONTROL "Help", IDC_HLP, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 118, 50, 14
}

IDD_HELP DIALOGEX 40, 40, 188, 120
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Help"
FONT 8, "MS Shell Dlg"
{
 CONTROL IDI_SDIAPPLICATION, -1, "static", SS_ICON | WS_CHILD | WS_VISIBLE, 10, 10, 21, 20
 CONTROL "ReplacePlus 6.32\nCopyright © 2012 Jogy et al.", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 40, 9, 100, 24
 CONTROL "This application searches and replaces text in all files matching the given filter in all subfolders of the given folder.\n\nSeveral filters can be given, separated by semicolons, e.g. ""*.html;*.jpg"".", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 40, 36, 140, 70
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 69, 100, 50, 14
}

