//----------------------------------------------------------------------------
// ObjectWindows
// Copyright (c) 1995, 1995 by Borland International, All Rights Reserved
//----------------------------------------------------------------------------

#include "resource.rh"
#include <owl/owlapp.rc>
#include <owl/inputdia.rc>
#include <owl/except.rc>
#include <owl/window.rh>

#define OWL_NOTETAB "OWL_Notetab"

IDM_APPMENU MENU
{
 POPUP "&Items"
 {
  MENUITEM "&Add Item...", CM_ADDITEM
  MENUITEM "&Remove Item...", CM_REMOVEITEM
  MENUITEM "&Change Item...", CM_CHANGEITEM
  MENUITEM SEPARATOR
  MENUITEM "&Info", CM_INFO
  MENUITEM "&Delete All" CM_DELETEALL
  MENUITEM SEPARATOR
  MENUITEM "&Exit", CM_EXIT
 }

 POPUP "&Tab Styles"
 {
  MENUITEM "&New Tab...", CM_NEWTAB
 }

 POPUP "&Notifications"
 {
  MENUITEM "Veto TCN_SELCHANGING", CM_VETOSELCHANGING
 }
}
  
IDD_NEWTAB DIALOGEX 28, 70, 140, 108
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New Tab"
FONT 8, "MS Shell Dlg"
{
 CONTROL "S&tyle", IDC_GROUPBOX1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 4, 66, 46
 CONTROL "&Button Tabs", IDC_RADIOBUTTON1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 16, 50, 12
 CONTROL "&Default Tabs", IDC_RADIOBUTTON2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 16, 30, 52, 12
 CONTROL "&Rows", IDC_GROUPBOX2, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 54, 66, 46
 CONTROL "&Single Line", IDC_RADIOBUTTON3, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 66, 50, 12
 CONTROL "&MultiLine", IDC_RADIOBUTTON4, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 16, 80, 50, 12
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 82, 8, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 82, 24, 50, 14
}

IDD_NOTETAB DIALOGEX 41, 97, 230, 100
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ObjectWindows Notetab"
FONT 8, "MS Shell Dlg"
{
 CONTROL "", IDC_NOTETAB, OWL_NOTETAB, 0 | WS_CHILD | WS_VISIBLE, 8, 78, 214, 18
 CONTROL "Order Info", IDC_GROUPBOX3, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 8, 4, 156, 68

 CONTROL "The &Birds of Mauritius", IDC_RADIOBUTTON1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 16, 16, 100, 12
 CONTROL "&Hiking in Reunion Island", IDC_RADIOBUTTON2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 16, 30, 100, 12
 CONTROL "&Visiting Port-Louis", IDC_RADIOBUTTON3, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 16, 44, 100, 12

 CONTROL "&Name", IDC_STATIC1, "STATIC", SS_LEFT | WS_CHILD | WS_GROUP | NOT WS_VISIBLE, 16, 16, 50, 8
 CONTROL "", IDC_EDIT1, "EDIT", WS_BORDER | WS_TABSTOP | NOT WS_VISIBLE, 16, 26, 140, 12
 CONTROL "A&ddress", IDC_STATIC2, "STATIC", SS_LEFT | WS_CHILD | WS_GROUP | NOT WS_VISIBLE, 16, 40, 50, 8
 CONTROL "", IDC_EDIT2, "EDIT", WS_BORDER | WS_TABSTOP | NOT WS_VISIBLE, 16, 50, 140, 12

 CONTROL "&Order Notes", IDC_STATIC3, "STATIC", SS_LEFT | WS_CHILD | WS_GROUP | NOT WS_VISIBLE, 16, 16, 50, 8
 CONTROL "", IDC_EDIT3, "EDIT", WS_BORDER | WS_TABSTOP | NOT WS_VISIBLE, 16, 26, 140, 38

 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 8, 50, 14
 CONTROL "&Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 172, 24, 50, 14
}
